[project]
name = "nlp-support-pipeline-mlops"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "pandas>=3.0.0",
]

[dependency-groups]
dev = [
    "ruff>=0.15.0",
]
