target-version = "py312"
line-length = 88

[lint]
# Select specific rule sets
select = [
    "E",   
    "W",   
    "F",   
    "I",  
    "B",   
    "C4",  
    "UP",  
]

# Ignore specific rules
ignore = [
    "E501", 
    "B008", 
]

[format]

quote-style = "double"
indent-style = "space"