name: CI Pipeline

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main", "develop"]

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true

      - name: Run Ruff
        run: uv run ruff check .

  build-docker:
    name: Docker Build
    needs: lint # Only build if linting passes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          lfs: true # Ensure the .pkl model file is downloaded correctly

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Load
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          load: true
          tags: nlp-pipeline:test
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Test Docker Container
        run: |
          docker run --rm nlp-pipeline:test
